@mixin flex(
    $direction: row,
    $justify: flex-start,
    $align: stretch,
    $gap: 0
){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-content: $align;
    gap: $gap;
}