@use "../../styles/layout/flex" as *;

.project {
    @include flex(column, center, start, .5rem);
    background-color: var(--bg-primary);
    width: 100%;
    height: 550px;
    border: 2px solid var(--border-primary);
    border-radius: 10px;
    padding: 1rem;
    text-align: justify;
    transition: .2s ease-in-out;
    align-self: center;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border: 2px solid var(--border-primary);
    }

    p {
        height: 100%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: 'ellipsis';
    }

    div {
        @include flex(row, start, center, .5rem);
    }

    a {
        @include flex(row, center, center, .5rem);
        width: 100%;
        height: 100%;
        background-color: var(--bg-secondary);
        border: 2px solid var(--border-primary);
        color: var(--text-secondary);
        border-radius: 5px;
        padding: .5rem 1rem;
        cursor: pointer;
        font-weight: 700;
        transition: .2s ease-in-out;
    }


    .imageWrapper {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    :hover {
        background-color: var(--bg-primary);
        color: var(--text-primary);
    }
}

.project:hover {
    transform: translateY(-15px);
    box-shadow: 0px 6px 3px var(--shadow);
}

.icon {
    font-size: 1.5rem;
}