@use "../../styles/layout/grid" as *;
@use "../../styles/layout/flex" as *;

.projects {
    @include flex(column, center, start, .5rem);
    width: 100%;

    .title{
        font-size: 2em;
        margin-left: 2.5rem;
        font-weight: 800
    }

    ul {
        width: 90%;
        @include grid(3, auto, 1em);
        justify-items: center;
        align-self: center;
    }
}