@use "../../styles/layout/flex" as *;
@use "../../styles/layout/grid" as *;

.skills {
    @include flex(column, center, center);
    width: 100%;
    height: 100%;
    border: 2px solid var(--border-primary);
    border-radius: 10px;

    opacity: 0;
    transform: translateY(150px);
    transition: transform 600ms ease, opacity 600ms ease;
    will-change: transform, opacity;

    div {
        @include flex(row, center, center, 1rem);
        margin-top: -6rem;
    }

    h3 {
        align-self: center;
        font-weight: 900;
        font-size: 1.5rem;
    }

    ul {
        @include grid(3, auto, 1rem);
        width: 100%;
        padding: 1rem;
    }
}

.icon {
    font-size: 2.5rem;
}

.show {
    opacity: 1;
    transform: translateY(0);
}