@use '@/styles/layout/flex' as *;

.about {
    @include flex(column, start, center, 5rem);
    height: 100vh;
    width: 100%;
}

.block{
    margin-left: 5rem;
}

.title {
    width: 25%;
    font-weight: 800;
    font-size: 32;

    span {
        font-family: var(--font-modak);
        font-weight: 100;
        font-size: 2em;
        font-size: 48;
    }
}

.text {
    width: 50%;
    text-align: justify;
    font-weight: 400;
    font-size: 20;
    margin-bottom: 1em;
}

