@use '@/styles/layout/grid' as *;

.about {
    @include grid(2, auto, 4rem);
    width: 100%; 
}


.block {
    margin-left: 5rem;
    grid-column: 1;

    opacity: 0;
    transform: translateX(150px);
    transition: transform 600ms ease, opacity 600ms ease;
    will-change: transform, opacity;
}

.show {
    opacity: 1;
    transform: translateX(0);
}

.title {
    width: 50%;
    font-weight: 800;
    font-size: 2em;

    span {
        font-family: var(--font-modak);
        font-weight: 100;
        font-size: 2em;
        font-size: 48;
    }
}

.text {
    text-align: justify;
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 1em;
}

.skills {
    width: 75%;
    height: 75%;
    grid-row: 1 / span 3;
    grid-column: 2;
    justify-self: center;
    align-self: center;  
}