@use "../../styles/layout/flex" as *;

.footer {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    padding: 2rem 0 2rem 3rem;
    width: 100%;

    .title {
        font-size: 2em;
        font-weight: 800
    }

    .text {
        text-align: justify;
        font-weight: 400;
        font-size: 1em;
        margin-bottom: 1em;
        width: 50%;
    }

    ul {
        @include flex(row, start, center, 1rem);
        list-style: none;

        a {
            @include flex(row, center, center, 1rem);
            width: 100%;
            height: 100%;
            background-color: var(--bg-primary);
            border: 2px solid var(--border-secondary);
            color: var(--text-primary);
            border-radius: 5px;
            padding: .5rem 1rem;
            cursor: pointer;
            font-weight: 700;
            transition: .2s ease-in-out;
        }

        :hover {
            background-color: var(--bg-secondary);
            color: var(--text-secondary);
        }
    }

    .icon{
            font-size: 1.5rem;
    }
}